*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: #0f0f0f;
    color: white;
    font-family: Arial, sans-serif;
}

/* NAVBAR */

header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(10px);
    z-index: 10;
}



.logo h2{
    font-size: 32px;
    color: #00ff66;
}


nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

nav ul li a:hover{
    color: #00ff00;
    text-shadow: 0 0 10px #00ff00;
}


.logo{
    font-size:32px;
    font-weight:bold;
    color:#39ff14;
}

nav{
    background:#1a1a1a;
    padding:10px 20px;
    border-radius:15px;
    border:1px solid #39ff14;
}

nav a{
    text-decoration:none;
    color:white;
    margin:0 15px;
    font-weight:bold;
}
.title{
    font-size: 32px;
    text-align: center;
    margin: 30px 0px;
}


.active{
    background:#39ff14;
    color:black;
    padding:8px 15px;
    border-radius:15px;
}
#portfolio{
    margin-top: 50px;
}

.gridportfolio{
    width:90%;
    margin:30px auto;
    display:flex;
    flex-direction:column;
    gap:30px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 2px solid #00ff66;
    border-radius: 15px;
    background: #111;
}
.card:nth-child(even){
    flex-direction:row-reverse;
}

.card img{
    width:280px;
    border-radius:10px;
}

.card-content{
    width:60%;
padding: 20px;
}

.card:nth-child(odd) .card-content{
    text-align:left;
    align-items:flex-start;
}

.card:nth-child(even) .card-content{
    text-align:right;
    align-items:flex-end;
}

.card-content h3{
    font-size:26px;
    color:#00ff66;
    margin-bottom:8px;
}

.card-content p{
    font-size:17px;
}

@media(max-width:768px){
    .card,
    .card:nth-child(even){
        flex-direction:column;
        text-align:center;
    }

    .card-content{
        width:100%;
        align-items:center !important;
        text-align:center !important;
    }

    .card img{
        width:100%;
        max-width:300px;
        margin-bottom:20px;
    }
}