*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: #0f0f0f;
    color: white;
    font-family: Arial, sans-serif;
}

/* NAVBAR */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(10px);
}


.logo h2{
    font-size: 32px;
    color: #00ff66;
}


nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

nav ul li a:hover{
    color: #00ff00;
    text-shadow: 0 0 10px #00ff00;
}





.btn{
    display:inline-block;
    padding:15px 40px;
    background:#00ff66;
    color:black;
    border-radius:10px;
    font-size:18px;
    font-weight:bold;
    margin-top:20px;
    text-decoration: none;
    transition:0.3s;

}
.btn:hover{
    transform: scale(1.05);
}

/* SECTION */.

.section{
    padding: 100px 10%;
}

.title{
    text-align: center;
    font-size: 45px;
    margin-bottom: 60px;
    color: #00ff66;
}

/* ABOUT */

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    filter: grayscale(0%);
    
}

.about img{
    width: 450px;
    max-width: 100%;
    border-radius: 20px;
}

.about-text{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.about-text h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.about-text p{
    font-size: 18px;
    line-height: 30px;
}

/* SKILLS */

.skill-boxes{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.skill{
    margin-top: 70px;
    width: 250px;
    background: #1a1a1a;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    transition: 0.3s;
}

.skill:hover{
    transform: translateY(-10px);
}

.skill h3{
    margin-top: 40px;
    font-size: 30px;
    margin-bottom: 15px;
    color: #00ff66;
}

.skill p{
    line-height: 28px;
}


/* FOOTER */

footer{
    text-align: center;
    padding: 30px;
    background: black;
    margin-top: 50px;
}